---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Welcome To My Site!</h1>
			<p>It's pretty empty right now... but  checkout some projects</p>
			<ul>
				<li><a href="https://bennygreeno.com" target="_blank">
					My friend Benny's Blog
				</a></li>
				<li><a href="https://guildbot.jacobstephenson.com" target="_blank">
					My Discord Bot
				</a></li>
			</ul>

		</main>
		<Footer />
	</body>
</html>
<style>
	h1 {
		text-align: center;
	}
	ul {
		list-style: none;
		padding: 0;
	}
	li > a:link {
		background: linear-gradient(to right, red, green);
		text-decoration: none;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>